<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulusofona.cm.ficha8_1.a_calculadora_mvvm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pt.ulusofona.cm.ficha8_1.a_calculadora_mvvm.mvvm.views.activities.Login"></activity>
        <activity android:name="pt.ulusofona.cm.ficha8_1.a_calculadora_mvvm.mvvm.views.activities.Main2Activity"></activity>
        <activity android:name="pt.ulusofona.cm.ficha8_1.a_calculadora_mvvm.mvvm.views.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>